.footer {
  background: white;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
  }

  &__logo {
    width: 134px;
  }

  &__group {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50px;
  }

  &__text {
    font-size: 16px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-top: 40px;
  }
}

@media (max-width: 980px) {
  .footer {
    &__logo {
      width: 104px;
    }

    &__title {
      font-size: 32px;
    }

  }
}

@media (max-width: 980px) {
  .footer {
    &__logo {
      width: 104px;
    }

    &__group {
      margin-top: 20px;
      height: 40px;
    }

    &__title {
      font-size: 26px;
    }

    &__social {
      margin-top: 20px;
    }
  }
}